# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\labia\Desktop\switzerland\ost\semester_3\courses\Z_MasterArbeit\extensions\osm-extractor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
